#main{
    display: grid;
    grid-template-columns: 200px 100px 100px 100px 100px;
    grid-template-rows: auto;
    gap: 10px;
}
.B1{
    grid-row-start: 1;
    grid-row-end: 20;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: rgba(13, 44, 44, 0.459);
}
.B2{
    grid-row-start: 1;
    grid-row-end: 10;
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: rgb(64, 4, 92);
}
.B3{
    grid-row-start: 1;
    grid-row-end: 8;
    grid-column-start: 4;
    grid-column-end: 5;
    background-color: rgb(1, 55, 68);
}
.B4{
    grid-row-start: 1;
    grid-row-end: 8;
    grid-column-start: 5;
    grid-column-end: 6;
    background-color: rgb(63, 80, 3);
}
.B5{
      grid-row-start: 1;
    grid-row-end: 11;
    grid-column-start: 6;
    grid-column-end: 12;
    background-color: rgb(170, 133, 10);
} 
.B6{
    grid-row-start: 12;
    grid-row-end: 20;
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: rgb(71, 67, 124);
}
.B7{
       grid-row-start: 13;
       grid-row-end: 20;
       grid-column-start: 4;
       grid-column-end: 5;
       background-color: rgb(2, 2, 65);
}
.B8{
    grid-row-start: 12;
    grid-row-end: 20;
    grid-column-start: 5;
    grid-column-end: 7;
    background-color: rgb(133, 3, 35);
}
.B9{
     grid-row-start: 12;
    grid-row-end: 20;
    grid-column-start: 7;
    grid-column-end: 9;
    background-color: rgb(13, 44, 13);
}
.B10{
    grid-row-start: 21;
    grid-row-end: 30;
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: rgb(22, 104, 19);
}
.B11{
    grid-row-start: 21;
    grid-row-end: 30;
    grid-column-start: 4;
    grid-column-end: 5;
    background-color: rgb(55, 87, 124);
}
.B12{
     grid-row-start: 21;
     grid-row-end: 40;
     grid-column-start: 5;
     grid-column-end: 7;
     background-color: rgb(3, 15, 122);
}
.B13{
    grid-row-start: 21;
    grid-row-end: 30;
    grid-column-start: 7;
    grid-column-end: 10;
    background-color: rgb(72, 94, 60);
}
.B14{
    grid-row-start: 21;
    grid-row-end: 30;
    grid-column-start: 10;
    grid-column-end: 11;
    background-color: rgb(146, 20, 20);
}
.B15{
    grid-row-start: 30;
    grid-row-end: 50;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: rgb(190, 190, 190);
}
.B16{
    grid-row-start: 30;
    grid-row-end: 50;
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: rgb(27, 26, 27);
}
.B17{
    grid-row-start: 30;
    grid-row-end: 50;
    grid-column-start: 4;
    grid-column-end: 5;
    background-color: grey;
}
.B18{
    grid-row-start: 40;
    grid-row-end: 50;
    grid-column-start: 5;
    grid-column-end: 7;
    background-color: darkgoldenrod;
}
.B19{
    grid-row-start: 40;
    grid-row-end: 50;
    grid-column-start: 7;
    grid-column-end: 8;
    background-color: rgb(53, 2, 12);
}
.B20{
    grid-row-start: 30;
    grid-row-end: 50;
    grid-column-start: 8;
    grid-column-end: 12;
    background-color: rgb(48, 66, 48);
}